.container img {
  width: 125%;
  height: auto;

}

.container {
  position: absolute;
  width: 125%;
  text-align: left;
  color: black;
  margin-left: -12px;
  margin-right: -20px;


}

.centeredtwo {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: larger;



}
