<div class="container" role="main">
  <img [src]="myimage" style="width:121.3%">




<div class="centeredtwo">
  <h1 style="color: white">About Us</h1>
  <h2 style="color: brown">Online learning platform is very important now a days.
    <br>You are getting most benefits from online learning.

  <br>
    In this website you can see the multiple courses.
    <br>
    You are just to do click on the courses in toolbar
    <br>
    and you find the courses that you want to learn.
    <br>
    <br>
    <h1 style="color: white">Advantages</h1>

    <h2>**  You dont have to pay any rupees for learning.
    <br>
    **  You find multiple courses in one website.
    <br>
    **  You can find links as well as videos and tutorials in this website.
    <br>
    **  There are more benefits for Online learning.
    <br>
  </h2>


  </h2>
  </div>
</div>

