<div class="centered" style="background-color: rgb(235, 208, 238) ;">
  <h2 style="color:chocolate;">Infosys Recuirement Process :-</h2>
  <div class="img">
  <img src="https://cdn.shopify.com/s/files/1/1996/3175/files/infosys-recruitmnt.jpg?v=1576749506" style="width: 70%;height: 70%;margin-left: 12%;">
</div>
<h3>Below are details of TCS hiring process:
  <br>
  We are nearing the end of August 2019. What does this mean? We have almost come close to Infosys Recruitment 2020. Yes, the Tech Giant is expected to kick-start its regular placements from 1st of September.

We had already informed that Infosys Recruitment would take place off-campus even before the regular campus placements start. Accordingly, the students had prepared with us, and several got placed too. So, don’t miss your opportunity to get placed in Infosys Recruitment 2020.
  </h3>
  <h3>
  Infosys has two types of recruitment processes: One for Grade A colleges and one for Grade B & C Colleges.
  </h3>
  <br>
  <h2 style="color:  crimson;">
    Type 1: For Grade A Colleges:
  </h2>
<h3 style="text-align: left;color: darkcyan;">
  -> Written Round<br>
  -> HR Interview
</h3>
<h2 style="color:  crimson;">Type 2: Grade B & C Colleges:</h2>
<h3 style="text-align: left;color: darkcyan;">

  -> Written Round<br>
  -> Technical Interview<br>
  -> HR Interview

</h3>
  <h3>

  Infosys Recruitment Process 2020 is simple and is the same for all the drives, including on-campus, off-campus, and referral drives. Here, you will see the Infosys Recruitment Process 2020 in detail (we will look into the Type 2 as it covers everything):
</h3>
<h2 style="color:  crimson;">Pre-Presentation Speech</h2>
<h3>

  As the first step of the Infosys Recruitment Process 2020, there will be a pre-presentation speech, wherein the Infosys HRs will speak about various things about the company. These include:

</h3>
<h3 style="text-align: left;color: darkcyan;">
-> Work culture<br>
-> Profiles offered<br>
-> Growth opportunities<br>
-> Salary


</h3>
<h3>Towards the end of this pre-presentation speech, there will be a Question and Answer session. You can ask your questions about the company and opportunities during this session.

</h3>
<h2  style="color:  crimson;">Infosys Online Test</h2>

<h3>The online test for Infosys Recruitment 2020 is considered as one of the toughest among all the service-based companies. The test includes 65 questions to be answered in 95 minutes.
<br>
The Infosys Online Test Pattern is as follows:
</h3>

<h3 style="text-align: center;color: blue;">
QUANTS------------15 Ques------------25 Mins<br>
LOGICAL-----------10 Ques------------35 Mins<br>
ENGLISH-----------40 Ques------------35 Mins<br>
TOTAL---------------65 Ques------------95 Mins
</h3>
<h3 style="color: red;">Note: There is no negative marking</h3>
<h2  style="color:  crimson;">Sectional Cut-off & Average Time per Question</h2>
<h3>Find below Infosys Online Test Sectional Cut-off:-
  <br>
  <img src="https://cdn.shopify.com/s/files/1/1996/3175/files/infosys-cutoff.jpg?v=1577355660" style="width: 50%;height: 50%;margin-left: 25%;">
<br>
As such, the logical section in the Infosys Recruitment 2020 is said to be easy-to-crack by several websites out there as there are 35 minutes to solve just 15 questions. But it’s not so! You can see that each logical question will take up to 3 to 5 minutes. Therefore, abundant preparation is the key.
<br>
Know the average time per question required in Infosys Online Test here:
</h3>
<img src="https://cdn.shopify.com/s/files/1/1996/3175/files/infosys-avg-time.jpg?v=1577355691" style="width: 50%;height: 50%;margin-left: 25%;">
<h2  style="color:  crimson;">Infosys Technical Interview</h2>
<h3>
  The Infosys Technical Interview questions will be from the following areas:
</h3>
<h3 style="color:darkcyan ;text-align: left;">

  -> C<br>
  -> OOPS<br>
  -> C++<br>
  -> Java<br>
  -> Coding<br>
  -> Project Diagrams<br>
  -> Project-based questions<br>
  -> Palindrome program

</h3>
<h2  style="color:  crimson;">Technical Interview Questions</h2>
<h3 style="color:darkcyan ;text-align: left;">

  -> Encapsulation<br>
  -> Polymorphism<br>
  -> Run-time Polymorphism<br>
  -> Concepts of Normalization

</h3>
<h2  style="color:  crimson;">Infosys HR Interview</h2>
<h3>
  Unlike other companies, Infosys HR Interview round is very important as the company will rule out 30 to 40% candidates in the HR round.

The interviewer may be from any branch, and he/she will google questions from the subject that is related to the student’s project.
</h3>
<h2 style="color:  crimson;">
  HR Interview Questions
</h2>
<h3 style="color:darkcyan ;text-align: left;">

  -> What will you do after college?<br>
  -> Why Infosys?<br>
  -> About extracurricular activities mentioned in your resume<br>
  -> Your role model<br>
  -> About enjoyment<br>
  -> Your hobbies<br>
  -> Your preferred work location<br>
  -> Why do you look for a job in the IT field; not in your core?<br>
  -> Which subjects you enjoyed the most?<br>
  -> Your strengths and weaknesses


</h3>

</div>
