<!--

  <mat-toolbar color="primary">

  <button mat-button color="accent">Online Education</button>
  <button mat-button color="accent">About</button>
  <button mat-button color="accent">Courses</button>
  <button mat-button color="accent">Trending</button>
  <button mat-button color="accent" style="padding-left: 740px;">Logout</button>

</mat-toolbar>

<div class="container" role="main">
  <img [src]="myimage" style="width:100%">
 <button class="btn" (click)="signin('signin')">Get Started</button>

<div class="centered">
  <h1>Welcome</h1>
  <h2>You are looking for online learning website.<br>
    Here,you find the multiple courses in one website.
    </h2>
    <br>
    <h1>ANYTHING YOU ARE LEARING IS NOT GOING TO BE WEST.</h1>
    </div>
  </div>

 -->
 <router-outlet></router-outlet>





