
/* .container img {
  width: 100%;
  height: auto;

}
.container {
  position: relative;
  text-align: left;
  color: white;
}
.centered {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: larger;

}

.container .btn {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:white;
  color: blueviolet;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

 */
